@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');


body {
    --swipeH: 3rem;
    font-family: Atma,Times,serif;
}
#entries {
    font-size:1.5em;
    margin-top: var(--swipeH);
}

#entries>div {
    display:flex;
    flex-direction: row;
    ;
    opacity: 1;
    transition: opacity 1s;
    width: 100%;
    &.deleting {
        opacity: 0;
        transition: opacity 1s;
    }
    &>input[type="checkbox"] {
        flex-grow: 0;
        margin: 5px;
        width: 1.5rem;
        aspect-ratio: 1;
    }
    &>button {
        flex-grow: 0;
        margin: 5px;
    }
    .textwrapper {
        flex-grow: 1;
    }
    .text {
        font-size: 1.5rem;
        width: 100%;
        border: 0px;
        border-bottom: 1px solid black;
    }
}
#display {
    display: flex;
    box-shadow: 5px 5px 5px;
    align-items: center;
    justify-content: space-between;
    z-index:2;
    background-color: rgb(200,200,200);
    height:100vh;
    position:fixed;
    font-size: 10vw;
    bottom: 90vh;
    left: 0;
    right:0;
    transition:bottom 1s;
    &:has(.active) {
        transition:bottom 0s;
    }
}

#display.up {
    bottom:calc(100vh - var(--swipeH));
    .swipe::before {
        content: "";
    }
/*    p {visibility:hidden;}*/
}
#display.down {
    bottom:0vh;
    top:0vh;
   
    .swipe::before {
        content: "Edit ↑";
        font-size: 1rem;
        text-align:center;
        padding-bottom:5px;
    }
/*    p {visibility:auto;}*/
}
#display .swipe {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height: var(--swipeH);
    text-align:center;
    font-size:2rem;
    opacity:0.4;
    &.active {
        background-color: rgb(150,150,150);
    }
    .drag {
        float: right;
        pointer-events: none;
        height: 100%;
        position:relative;
        top:1rem;
        padding-right:1ex;
    }
}
h1 {
    height: var(--swipeH);
    position:relative;
    z-index: 3;
    margin:auto;
    font-size:2rem;
    display:inline-block;
    pointer-events: none;
    text-align: center;
    transition: width 1s;
    width: 100%;
}
body:has(.up) h1 {
    text-align:left;
    margin-left:10%;
    width:0;
    transition: width 1s;
}
#display #approve, #display #next {
    position:relative;
    height:100%;
    width:10%;
    color: white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    cursor:pointer;
}
#display #approve {
    left:0;
    background-color: green;
}
#display #next {
    right:0;
    background-color:blue;
}
#display #next.hidden {
    font-size:0ex;
}
#entries div:has(input:checked) {
    & input {
        color:grey;
    }
}
#display p.strikeout {
    text-decoration: line-through;
    text-decoration-thickness: 0.15em;
    text-decoration-color: rgba(55,126,34,0.5);
}
input {font-family:inherit;}
