body {

}
#entries {
    font-size:1.5em;
}
h1 {
    width:100vw;
    text-align: center;
}

#entries>div {
    display:flex;
    flex-direction: row;
    ;
    opacity: 1;
    transition: opacity 1s;
    width: 100%;
    &.deleting {
        opacity: 0;
        transition: opacity 1s;
    }
    &>input[type="checkbox"] {
        flex-grow: 0;
        margin: 5px;
        width: 1.5rem;
        aspect-ratio: 1;
    }
    &>button {
        flex-grow: 0;
        margin: 5px;
    }
    .textwrapper {
        flex-grow: 1;
    }
    .text {
        font-size: 1.5rem;
        width: 100%;
        border: 0px;
        border-bottom: 1px solid black;
    }
}
